<div class="filter">
        <div class="filter__header">
            <p class="filter__header__title">Filtro</p>
            <div class="toggle">
                <a href="#nav-toggle" data-id="nav-toggle-filter">
                    <i class="fa fa-chevron-down"></i>
                    <i class="fa fa-chevron-right"></i>
                </a>
            </div>
        </div>
        <div class="filter__content">
            <div class="filter__content__forms">
                <m2m-autocomplete-element content="Visão*" night="[[night]]"></m2m-autocomplete-element>  
                
                <m2m-autocomplete-element content="Mês*" night="[[night]]"></m2m-autocomplete-element>  
    
                <m2m-input-element icon="icons:date-range" id="dataFinal" content="Data*" subtype="default-height" night onkeyup="formataData(this)" objeto-selecionado="{{dataInicio}}" is-date></m2m-input-element>
                
            </div>
    
            <section class="filter__content__buttons">
                <button class="button button--cancel" ng-click="ctrl.limparFiltros()">LIMPAR</button>
                <button class="button button--confirm" ng-click="ctrl.consultarPeriodo()">GERAR RELATÓRIO</button>
            </section>
        </div>
    </div>
    <div class="main-chart margin-top">
        <div class="row row--space-between">
            <i class="fa fa-bar-chart icon-margin gray-according-to-theme"></i>
            <h3>Relatório Detalhado</h3>
            <div class="row row--justify-end standard-padding row__flex1">
                <span class="standard-padding">Exibição de Itens</span>
                <div class="row">
                    <select class="select bright-gray-bg"><!-- valores arbitrários -->
                        <option>5</option>
                        <option>10</option>
                        <option>20</option>
                    </select>
                    <i class="fa fa-chevron-down"></i>
                </div>
                <div class="layout-mode">
                    <img class="layout-mode__image" src="../img/sun.png">
                    <span class="layout-mode__description theme-description-js">Modo Dia</span>
                    <m2m-switch-element ></m2m-switch-element>
                </div>
                <div class="row row--buttons fixed-min-width">
                        <m2m-button-element subtype="button--day-mode button--icon-button" content="PDF" icon="icons:description">
                        </m2m-button-element>
                        <m2m-button-element subtype="button--day-mode button--icon-button" content="CSV" icon="icons:description">
                        </m2m-button-element>
                </div>
            </div> 
        </div>
        <table class="table avg-margin-top table--transparent-borders">
            <tr class="table__row table__row--header table__row--room bold">
                <td class="text-align-left table--transparent-borders__td table--important-td">RAZÃO SOCIAL</td>
                <td class="table--transparent-borders__td">LINHA</td>
                <td class="table--transparent-borders__td" colspan="7">DADOS EMBARCADOS
                    <div class="row row--space-between">
                        <span class="fixed-width">Velocidade Tempo</span>
                        <span class="fixed-width">Motorista</span>
                        <p class="fixed-width no-margin">Detector <br> Parada</p>
                        <span class="fixed-width">Início/Fim Viagem</span>
                        <span class="fixed-width">Início/Fim Viagem Fretado</span>
                        <span class="fixed-width">Bilhete Embarque</span>
                        <p class="fixed-width no-margin">Leitor <br> de Cartão</p>
                    </div>
                </td>
                <td class="table--transparent-borders__td" colspan="6">DADOS EMBARCADOS
                    <div class="row row--space-between">
                        <span class="fixed-width">Venda Passagem</span>
                        <span class="fixed-width">Ocorrência Rodoviário</span>
                        <span class="fixed-width">Cartão Emitido</span>
                        <span class="fixed-width">Ocorrência Semiurbano</span>
                        <span class="fixed-width">Cancelamento Passagem</span>
                        <span class="fixed-width">Reembolso Cartão</span>
                    </div>
                </td>
            </tr>
           <tr class="table__row table__row--room">
                <td class="text-align-left table--transparent-borders__td">EXPRESSO GUANABARA S/A</td>
                <td class="table--transparent-borders__td">02000300</td>
                <td class="table--transparent-borders__td table--adjust-width">0</td>
                <td class="table--transparent-borders__td table--adjust-width">0</td>
                <td class="table--transparent-borders__td table--adjust-width">0</td>
                <td class="table--transparent-borders__td table--adjust-width">0</td>
                <td class="table--transparent-borders__td table--adjust-width">0</td>
                <td class="table--transparent-borders__td table--adjust-width">0</td>
                <td class="table--transparent-borders__td table--adjust-width">0</td>
                <td class="table--transparent-borders__td table--adjust-width">0</td>
                <td class="table--transparent-borders__td table--adjust-width">0</td>
                <td class="table--transparent-borders__td table--adjust-width">0</td>
                <td class="table--transparent-borders__td table--adjust-width">4</td>
                <td class="table--transparent-borders__td table--adjust-width">0</td>
                <td class="table--transparent-borders__td table--adjust-width">0</td>
            </tr>
            <tr class="table__row  table__row--room">
                <td class="text-align-left table--transparent-borders__td">EXPRESSO GUANABARA S/A</td>
                <td class="table--transparent-borders__td">02000400</td>
                <td class="table--transparent-borders__td table--adjust-width">5.296</td>
                <td class="table--transparent-borders__td table--adjust-width">15</td>
                <td class="table--transparent-borders__td table--adjust-width">92</td>
                <td class="table--transparent-borders__td table--adjust-width">4</td>
                <td class="table--transparent-borders__td table--adjust-width">0</td>
                <td class="table--transparent-borders__td table--adjust-width">0</td>
                <td class="table--transparent-borders__td table--adjust-width">0</td>
                <td class="table--transparent-borders__td table--adjust-width">5.296</td>
                <td class="table--transparent-borders__td table--adjust-width">15</td>
                <td class="table--transparent-borders__td table--adjust-width">92</td>
                <td class="table--transparent-borders__td table--adjust-width">4</td>
                <td class="table--transparent-borders__td table--adjust-width">0</td>
                <td class="table--transparent-borders__td table--adjust-width">0</td>
            </tr>
        </table>
    </div>
    <script>
        var buttonsToShrink = $("m2m-button-element").attr("subtype","button--day-mode");
        if(window.outerWidth < 1400){//it currently doesn't work real time
           $(buttonsToShrink).attr("subtype","button--small-window-fit button--day-mode button--icon-button");
        }else{
            $(buttonsToShrink).attr("subtype","button-alignment button--day-mode button--icon-button");
        }
        // Polymer({
        // is: 'my-app',
        // properties: {
        //     night:{
        //         type: Boolean,
        //         value:true
        //     }
        // },
        // switchTheme: function(){
        //     var getCurrentTheme = this.get('night');
        //     console.log("works");
        //     getCurrentTheme
        //     ?
        //     (this.$$('.theme-description-js').innerText = 'Modo Dia',this.imageSrc = this.resolveUrl('img/sun.png'),this.nightTheme = '')
        //     :
        //     (this.$$('.theme-description-js').innerText = 'Modo Noite',this.imageSrc = this.resolveUrl('img/moon.png'),this.nightTheme = 'night-theme');
    
        //     var noite = this.get('night');
        //     if (noite){
        //         this.set('night', false);
        //     }else{
        //         this.set('night', true);
        //     }
        //         //Essencial para a mudança nos componentes
        //         Polymer.updateStyles();
        //     }
        // });
        var night = false;
        $("m2m-switch-element").on('click', function(){
            console.log("função ok");
            if(night){
                night = false;
            $(".theme-description-js").html("Modo Noite");
            $(".layout-mode__image").attr("src", "../img/moon.png");
            }else{
                night = true;
            $(".theme-description-js").html("Modo Dia");
            $(".layout-mode__image").attr("src", "../img/sun.png");
            }           
        })
        // function switchTheme(){//essa função não funciona (não é ativada) ao se clicar no m2m-input-element, por isso o uso da função acima
            
         
        // }
       
            //falta implementar:
            //o body ou o container principal devem receber a classe night-theme
            //elementos polymer recebem atributo night
       
            //falta implementar:
            //remover atributo 'night' de todos os elementos polymer
            //remover night-theme do body ou container principal

            //IMPORTANTE:
            //originalmente, o index.html (na raiz de views) tinha a classe night-theme
            //tive que remover para ser possível alternar nestas novas telas
            //isso significa que o painel de viagens está sem night-theme! ele precisa de um novo container ou outra solução
       
    </script>