/*o X de fechar pode ser um bloco à parte! */
.close-button{
    display: inline-block;
    cursor: pointer;
    -webkit-mask-image: url(../img/window-control.png);
    background-color: $light_gray;
    width: 11px;
    height: 11px;
    background-position: -22px 0;
    &:hover{
		opacity: 0.7;
	}
}