.main-panel{
	flex-basis: 68.5%;
	width: 68.5%;
	box-sizing: border-box;
	position: relative;
}

.main-chart{/*holds chart + title, options, buttons, etc*/
	padding: 0 1.8%;
}
.chart{/*holds only chart*/
	max-width: 100%;
	width:100%; 
	height:200px;
	position: relative;
}
.totalizadores-highcharts-container{
	padding-top: 5px;
	width: 150px;
}

.search-information-container{
	width: 60%;
	height: 16px;
	overflow: hidden;
	@media screen and (max-width: 1400px){
		width: 50%
	}
}

.search-information{
	color: $gray;
	font-weight: bold
}
.alerts-container{
  color:#fff;
  position: absolute;
  top: -35px;
  left: 0;
  width: 100%;
  height: 35px;
  padding: 0 0 0 1.2%;
  transition: top 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
  overflow: hidden;
  box-sizing: border-box;
  &--active{
    position: relative;
    top: 0;
    -webkit-animation: slide 0s ease-in 5s forwards;
    animation: slide 0s ease-in 5s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
}

.highcharts-legend-item-hidden:nth-child(1) rect{
	fill: $green;
}
.highcharts-legend-item-hidden:nth-child(2) rect{
	fill: $pink;
}
.highcharts-legend-item-hidden:nth-child(3) rect{
	fill: $blue;
}
.highcharts-legend-item-hidden:nth-child(4) rect{
	fill: $purple;
}
.highcharts-legend-item-hidden:nth-child(5) rect{
	fill: $red;
}
.highcharts-legend-item-hidden:nth-child(6) rect{
	fill: $orange;
}