.input{
	background-color: #fff;
	color: #fff;
	border: 0;
	min-height: 28px;
	outline: none;
	width: 100%;
	min-width: 80px;
	padding-left: 5px;
	font-size: 13.333px;
	@media screen and (max-width:1400px){
    	min-height: 23px;
    }
	&--icon + .fa{
		background: $m2m_green;
		position: absolute;
		bottom: 0;
		right: 0;
		padding: 9.5px;
		color: #000;
		@extend .text-size-10;
		@media screen and (max-width:1400px){
	    	right: 0;
	    	padding: 7px;
	    }
	}
	&--icon + .fa-clock-o{
    	padding: 8px;
    	@extend .text-size-13;
    	@media screen and (max-width:1400px){
	    	padding: 5px;
	    }
    }
}
