.open-pop-up{
	cursor: pointer;
}
.popup{
	width: 100%;
	height: 100%;
	background: #1c2021;
	background: rgba(0,0,0,0.5);
	color: $gray;
	position: fixed;
    top: 0;
    z-index: 9999999;
    &__content{
		background: $gelo;
	    margin: 50px auto 0;
	    width: 750px;
	    height: 600px;
		box-shadow: 0px 0px 25px 5px $gray;
		@media screen and (max-height: 800px){
			height: 500px;
		}
		&--small{
			width: 300px;
    		height: 220px;
    		margin: 120px auto 0;
    		font-size: 90%;
    		@media screen and (min-width: 1400px){
    			height: 250px
    		}
    		&__main{
    			padding: 5% 0;
    			display: flex;
    		}
    		&__side{
    			padding: 0 5%;
    		}
		}
		&--bottom-right{
			float: right;
    		margin: 21px 31px 0 0;
		}
		&__title{/*pay attention if the title isn't header__title!*/
			margin-top: 2px;
    		display: inline-block;
		}
		&__header{
			background: $bright_gray;
	    	height: 40px;
	    	&--small{
	    		height: 20px;
    			padding: 3px 0 0 5px;
	    	}
			&__title{
				font-weight: bold;
	    		margin-left: 5px;
			}
		}
		&__close{
			position: relative;
		    bottom: 25px;
		    display: block;
		    left: 96%;
		    cursor: pointer;
		    -webkit-mask-image: url(../img/window-control.png);
		    background-color: #899b9b;
		    width: 11px;
		    height: 11px;
		    background-position: -22px 0;
		    &--small{
	    	    bottom: 11px;
			    left: 94%;
			    -webkit-mask-size: cover;
			    width: 8px;
			    height: 8px;
			    -webkit-mask-position: 0 0;
		    }
		}
		&__scrollable{
			padding-left: 27px;
			max-height: 300px;
			overflow-y: scroll;
			@media screen and (max-height: 800px){
				height: 200px;
			}
		}
		&__label{
			padding-top: 5px;
    		display: inline-block;
		}
		&__informations{
			font-weight: bold;
			color: #fff;
			margin: 5px 0;
		}
	}
	&__tabs{
		background: $dark_gray;
		display: flex;
    	justify-content: space-around;
    	height: 50px;
	}
	&__tab{
		text-align: center;
		flex-grow: 1;
    	flex-basis: 0;
    	padding-top: 8px;
    	box-sizing: border-box;
    	border-bottom: 3px solid transparent;
    	border-right: 1px solid $gray;
    	cursor: pointer;
    	&__svg{
    		width: 21px;
		    height: 21px;
		    fill: rgba(255,255,255,0.7);
		    margin-right: -3px;
    	}
    	&__info-de-viagem{
			border-bottom-color: $m2m_green;
			padding-top: 15px;
			font-weight: bold;
			&:hover,
    		&.tab--active{
				background-color: $m2m_green;
				color: $dark_gray;
			}
    	}
    	&__bilhetes{
    		border-bottom-color: $pink;
    		&:hover,
    		&.tab--active{
				background-color: $pink;
				color: #fff;
    		}
    	}
    	&__jornada-de-trabalho{
			border-bottom-color: $red;
			&:hover,
    		&.tab--active{
				background-color: $red;
				color: #fff;
			}
    	}
    	&__detector-de-paradas{
			border-bottom-color: $orange;
			&:hover,
    		&.tab--active{
				background-color: $orange;
				color: #fff;
			}
    	}
	}
	&__scrollable{
		padding-right: 10px;
	    overflow-x: auto;
	    max-height: calc(100% - 100px);
	}
	&__pills{
		display: flex;
		padding-top: 10px;
		padding-left: 15px;
		&__pill{
		    margin: 0 5px;
    		padding: 0 10px;
		    border-radius: 5px;
		    color: #fff;
		    display: flex;
		    height: 40px;
		    align-items: center;
		}
		span:not(.text-size-24){
			padding-top: 12px;
		}
	}
	&__svg{
		width: 21px;
    	height: 21px;
	    margin-right: 3px;
	    fill: rgba(255,255,255,0.6);
	}
}

.how-to-use{
	width: 100%;
	height: 100%;
	color: #fff;
	position: fixed;
    top: 0;
    z-index: 9999999;
    background-color: rgba(0, 0, 0, .6);
    text-align: center;
    &__main{
    	margin: 0 auto;
    	width: 30vw;
    }
    &__image{
    	height: 200px;
	    display: block;
	    margin: 115px auto 0;
    }
    &__title{
    	font-size: 24px;
    	font-weight: normal;
    	color: $m2m_green;
    	@media screen and (min-width: 1400px){
    		width: 80%;
    		margin: 20px auto;
    	}
    }
    &__description{
    	@media screen and (min-width: 1400px){
    		width: 80%;
    		margin: 20px auto;
    	}
    }
    &__content{
    	margin-bottom: 50px;
    }
    &__navigation{
    	display: flex;
    	justify-content: space-around
    }
}