.select{
	background-color: #fff;
	color: #fff;
	padding: 3px 10px;
	height: 30px;
    width: 90%;
    min-width: 80px;
    outline: none;
    border: none;
    padding-left: 5px;
    font-size: 13.333px;
    @media screen and (max-width:1400px){
    	height: 23px;
    }
    + .fa{
    	background: #95ca31;
	    position: relative;
	   // bottom: 0;
    	right: 11%;
	    padding: 10px;
	    color: #000;
	    pointer-events: none;
	    @extend .text-size-10;
	    @media screen and (max-width:1400px){
	    	//right: 9px;
	    	padding: 7px 6px;
	    }
	    &--adjust{
	    	right: 22px;
		    padding: 6.5px;
		    bottom: 0;
		    @media screen and (min-width: 1400px){
		    	bottom: 1px;
		    	padding: 9.5px;
		    }
	    }
    }
}