.tooltip{
	min-width: 180px;
    border-radius: 5%;
    display: none;
    position: absolute;
    background: rgba(0,0,0,.85);
    right: 20px;
    z-index: 9999;
    text-align: left;
    padding: 10px;
    font-size: 8px;
    color: #fff;
    &__info{
    	margin-top: 0;
    }
    &__image-description{
    	margin-left: 3px
    }
    &--smaller-width{
        min-width: 80px; 
    }
}