$green: #0bb48d;
$dark_green: #098668;
$light_green: #11ca9e;
$emerald: #85bd58; //a light green that has a bit of yellow, but still too green to be called lemon
$m2m_green: #95ca31;

$pink: #cb3f7e;
$dark_pink: #993261;
$light_pink: #e96922;

$blue: #358fcd;
$dark_blue: #663d79;
$light_blue: #78bce9;
$royal_blue: #1c2884;

$purple: #9157ab;
$dark_purple: #663d79;
$light_purple: #cc86e9;

$red: #ec6051;
$dark_red: #af483f;
$light_red: #eb8d83;

$orange: #e18e18;
$dark_orange: #ae6f12;
$light_orange: #eaa540;
$yellow_orange: #f0aa1d;
$red_orange: #e77735;

$yellow: #FFC522;

$gray: #434d4f;
$dark_gray: #384042;
$darker_gray: #222D2E;
$bright_gray: #4f5a5c;
$light_gray: #899b9b;
$lighter_gray: #BEC6C8;
$red_gray: #4a4c4e;
$green_gray: #42534a;

$light_black: #242526;

$gelo: #d8e2e4;
$off_white: #ebf0f1;
$red_white: #e0cac4;
$green_white: #c4e0c4;

$open_sans: 'Open Sans', sans-serif;
$montserrat: 'Montserrat', sans-serif;

$base-font: 1em;