/* csslint ignore:start*/
@import 'vars';
@import 'animations';

@import 'backgrounds';
@import 'box'; /* rectangles are also considered boxes */
@import 'button';
@import 'checkbox';
@import 'close-button';
@import 'column';
@import 'row';
@import 'containers';
@import 'dropdown';
@import 'filter';
@import 'form'; 
@import 'icons';
@import 'input';
@import 'popup';
@import 'progress-bar';

@import 'select';
@import 'sidebar';
@import 'switch';
@import 'table';
@import 'textarea';
@import 'themes';
@import 'toggle';
@import 'tooltip';

//must always come last
@import 'utilities';

html {
    font-size: 16px; /* our base font size */
}

body{
	padding: 0;
    margin: 0;
	font-family: $open_sans;
	font-size: 62.5%; /* now our em = 10px */
	background: #fff;
}
.loader{
  height: 100px;
  width: 97%;
  text-align: center;
  padding: 1em;
  margin: 200px auto 1em;
  display: inline-block;
  vertical-align: top;
}
.priority-position{
	z-index: 1040;
	position: absolute;
}
.fill-height{
    min-height: 100vh;
}
/* csslint ignore:end*/



