/* vars */

$green: #0bb48d;
$dark_green: #098668;
$light_green: #11ca9e;

$m2m_green: #95ca31;
$pink: #cb3f7e;
$dark_pink: #993261;
$light_pink: #e96922;

$blue: #358fcd;
$dark_blue: #663d79;
$light_blue: #78bce9;

$purple: #9157ab;
$dark_purple: #663d79;
$light_purple: #cc86e9;

$red: #ec6051;
$dark_red: #af483f;
$light_red: #eb8d83;

$orange: #e18e18;
$dark_orange: #ae6f12;
$light_orange: #eaa540;

$gray: #434d4f;
$dark_gray: #384042;
$darker_gray: #222D2E;
$bright_gray: #4f5a5c;
$light_gray: #899b9b;

$off_white: #BEC6C8;

$open_sans: 'Open Sans', sans-serif;
$montserrat: 'Montserrat', sans-serif;

$base-font: 1em;


/*animations*/
@keyframes opacity
{
	from {
		opacity: 0;
    }
	to {  
		 opacity: 1;
	}
}


html {
    font-size: 16px; /* our base font size */
}
body{
	font-family: $open_sans;
	font-size: 62.5%; /* now our em = 10px */
}

.night-theme{
	background-color: $dark_gray;
	color: #fff;
	.filter, .toggle{
		background-color: $gray;
	}
	.filter__header,
	.sidebar__header{
		background-color: $bright_gray;
	}
}

.search-information{
	color: $light_gray;
	font-weight: bold
}

.layout-mode{
	display: flex;
    padding-right: 10px;
    border-right: 1px solid $light_gray;
    margin-right: 10px;
	&__image{
	    width: 15px;
	    height: 15px;
	    align-self: center;
	}
	&__description{
		align-self: center;
	    margin: 0 3px;
	}
}
/*row*/
.row{
	display: flex;
	align-items: center;
	justify-content: center;
	&--space-between{
		justify-content: space-between;
	}
	&--space-around{
		justify-content: space-around;
	}
	&--align-baseline{
		align-items: baseline;
	}
	&--align-flex-end{
		align-items: flex-end;
	}
	&--buttons{
		min-width: 125px;
		justify-content: space-between;
	}
	&--search-and-export{
		padding: 10px 1.12% 18px;
		.button{
			padding: 8px 10px;
		}
	}
}

/*column*/
.column{
   display: flex;
   flex-direction: column;
}

/*button*/
.button{
	border: none;
	outline: none;
	color: #fff;
	padding: 10px 15px;
	touch-action: manipulation;
	cursor: pointer;
	letter-spacing: 0.5px;
	&--create{
		background-color: $blue;
		font-weight: bold;
		&:hover{
			background-color: lighten($blue, 10%);
		}
	}
	&--confirm{
		background-color: $m2m_green;
		font-weight: bold;
		&:hover{
			background-color: lighten($m2m_green, 10%);
			color: darken(#fff, 10%)
		}
	}
	&--cancel{
		background-color: $light_gray;
		font-weight: bold;
		&:hover{
			background-color: lighten($light_gray, 10%);
			color: darken(#fff, 10%)
		}
	}
	&--row{
		margin-top: -6px;
		padding-top: 7px;
		padding-bottom: 7px;
	}
	&--gray-bg{
		background-color: $gray;
		color: #fff;
		&:hover{
			background-color: lighten($gray, 30%);
		}
	}
	&--dark-gray-bg{
		background-color: $dark_gray;
		color: $light_gray;
		&:hover{
			color: #fff
		}
	}
	&--light-gray-border{
		border: 1px solid $light_gray;
		&:hover{
			border-color: #fff;
		}
	}
	&__svg{
		margin-right: 3px;
    	margin-bottom: -3px;
    	width: 15px;
    	fill: #fff;
	}
	.fa-file-excel-o{
    	margin-right: 3px;
	}
}

/*dropdown*/
.dropdown{
	color: #fff;
	position: absolute;
	right: 1.8%;
	&--main-chart{
		right: 110px;
		z-index: 99;
		top: 20px;
	}
	&--expanded-parent{
		right: 130px;
	}
	&__title{
		cursor: pointer;
		text-transform: uppercase;
		background-color: #899b9b;
		height: 21px;
		display: block;
		padding-left: 10px;
		padding-top: 5px;
		.fa{
			margin-left: 8px;
			margin-top: 3px;
		}
	}
	&__content{
		width: 120px;
		background-color: $light_gray;
		padding-left: 5px;
		&--main-chart{
			padding: 8px 0 5px 10px;
		}
	}
}

/*toggle*/
.toggle{
    position: absolute;
    left: 98%;
    top: -1px;
    height: 22px;
    overflow: hidden;
    a{
    	color: $light_gray;
    }
    .fa{
    	padding: 5px 10px 0 10px;
    }
}

/*form and inputs*/
.filter{
	&__header{
		font-weight: 600;
		position: relative;
		&__title{
			padding: 3px 12px;
		}
	}
	&__content{
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
		padding: 0 1.2% 10px;
		&__forms{
			display: flex;
			align-items: flex-end;
		}
		&__buttons{
			flex-grow: 0.5;
			justify-content: flex-end;
			display: flex;
			> .button:not(:last-child){
				margin-right: 10px;
			}
		}
	}
}
.form{
	position: relative;
    display: flex;
    flex-direction: column;
    margin: 0 10px;
		&__label{
    		letter-spacing: 0.2px;
    		color: $off_white
		}
}

.select{
	background-color: $dark_gray;
	color: #fff;
	padding: 3px 10px;
	height: 30px;
    min-width: 98px;
    outline: none;
    border: none;
    + .fa{
    	background: #95ca31;
	    position: absolute;
	    bottom: 0;
	    right: 0;
	    padding: 9px;
	    color: #000;
    }
    @media screen and (min-width:1400px){
    	min-width: 168px;
    }
}

.radio{
	
}
.input{
	background-color: $dark_gray;
	color: #fff;
	border: 0;
	min-height: 28px;
	outline: none;
	&--icon + .fa{
		background: $m2m_green;
		position: absolute;
		bottom: 0;
		right: 0;
		padding: 8px;
		color: #000;
	}
	&--icon + .fa-clock-o{
    	padding: 7px;
	}
}

/* switch button (checkbox styled as an iphone on/off) */

.switch{
		display:inline-block;
		-webkit-appearance:none;
		-moz-appearance:none;
		appearance:none;
		width: 45px;
	    height: 19px;
		background-color:$green;
		position: relative;
		border-radius: 20px;
		outline: none;
		cursor: pointer;
		top: 1px;
		// @include border-radius(30px);
		// @inlcude box-shadow(none);
		// @include transition(all .2s ease-in-out);
	&:hover:after{
		background-color: darken($green, 20%);
	}
	&:after{      
		content:'';
		display:inline-block;
		position:absolute;
		width: 15px;
		height: 15px;
		background-color:darken($green, 30%);
		top: 2.4px;
		left:2px;
		border-radius: 20px;
		// @include border-radius(50%);
		// @include transition(all .2s ease-in-out);
	}
	&:checked{
	    // @include box-shadow(inset 0 0 0 15px $gray);
	    &:after{
			left:27px;
			background-color:#fff;
	    }
  	}
}

/*main-content*/
.content-flex{
	display: flex;
}

.main-panel{
	flex-basis: 68.5%;
	width: 68.5%;
	box-sizing: border-box;
	position: relative;
}

.main-chart{
	padding: 0 1.8%;
}

/*charts - am charts*/
.chart{
	max-width: 100%;
	width:100%; 
	height:200px;
	position: relative;
}

/*info-box*/
.info-boxes{
	margin-bottom: 36px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 0 1.8%;
	max-width: 100%;
}

.info-box{
	flex-basis: 30%;
	width: 30%;
	font-family: $montserrat;
	text-align: center;
	flex-grow: 1;
	cursor: pointer;
	&:nth-child(2){
		margin: 0 10px;
	}
	&__select{
		background: $gray;
		color: #fff;
		float:right;
	}
	&__chart{
		width:100%; 
		height:80px;
	}
	&__content{
		border-top: 2px solid $bright_gray;
		border-left: 2px solid $bright_gray;
		border-right: 2px solid $bright_gray;
		&__svg{
			width: 30px;
			height: 30px;
			fill: $light_gray;
			margin-right: 10px;
			align-self: center;
		}
		&__title{
			font-family: $open_sans;
			color: $light_gray;
			font-weight: bold
		}
		&__span{
			font-weight: 300;
			margin-right: 3px;
		}
		&--pink{
			&:hover{
				border-color: $pink;
			}	
		}
		&--red{
			&:hover{
				border-color: $red;
			}
		}
		&--orange{
			&:hover{
				border-color: $orange;
			}
		}
		&--purple{
			&:hover{
				border-color: $purple;
			}
		}
		&--green{
			&:hover{
				border-color: $green;
			}
		}
		&--blue{
			&:hover{
				border-color: $blue;
			}
		}
	}
	&__footer{
		display: flex;
		justify-content: space-around;
		&__column{
			padding: 3px 15px;
			margin: 8px 0;
			flex-basis: 0;
    		flex-grow: 1;
    		&:hover{
    			opacity: 0.7;
    		}
			&:nth-child(1){
				border-right: 1px solid #fff;
			}
			&:nth-child(3){
				border-left: 1px solid #fff;
			}
		}
	}
}

/*sidebar*/
.sidebar{
	flex-basis: 31.5%;
	box-sizing: border-box;
	//height: 100vh;
	&__header{
		padding: 0 3%;
		&__title{;
		}
	}
	&__day{
		border-left: 3px solid $m2m_green;
		border-top: 2px solid $bright_gray;
		cursor: pointer;
		display: flex;
		margin: 0;
		font-weight: normal;
		padding: 5px 0 5px 3%;
		&__toggle-control{
			position: relative;
			left: 75%;
			top: 5px;
			line-height: 0.5em;
		}
	}
	&__svg{
		width: 15px;
		height: 15px;
		fill: #fff;
		margin-right: 3px;
	}
	&__content{
		&__info{
			flex-grow: 1;
			flex-basis: 0;
			display: flex;
			align-items: center;
			justify-content: center;
			font-family: $montserrat;
			font-weight: 300;
			height: 50px;
		}
	}
}

.table{
	padding-bottom: 30px;
	background-color: $bright_gray;
	text-align: center;
	width: 100%;
	&__header{
		background-color: $dark_gray;
	}
	&__row{
		background-color: $gray;
		td{
			padding: 6px 0;
			border-bottom: 2px solid $bright_gray;
		}
		&--large-td{
			td{
				padding: 0 10px;
				height: 90px;
				position: relative;			
			}
		}
	}
	&__larger-row{
		text-align: left;
		width: 37%;
	}
	&--tab{
		padding-top: 8px;
    	padding-left: 12px;
    	.table__header__row{
    		height: 30px;
    	}
    	&.toggle_table{
    		padding-top: 0;
		    padding-bottom: 0;
		    padding-left: 14px;
		    td{
		    	border: none;
		    }
    	}
	}
	&--toggle-control{
		cursor: pointer;
	}
	&--like{/*imita table mas é outro elemento*/
		display: flex;
	    justify-content: space-around;
	    height: 22px;
    	margin-left: 15px;
    	background-color: inherit;
    	color: #fff;
    	border-bottom: 2px solid $bright_gray;
	    .td--like{
	    	flex-basis: 0;
    		flex-grow: 1;
	    }
	    &.thead--like{
			padding-top: 15px;
			background-color: $bright_gray;
		}
		&.tbody--like{
			background-color: $dark_gray;
			height: 27px;
			.td--like{
				padding-top: 6px;
				min-height: 21px;
				&.toggle-control{
				    flex-grow: 0;
				    padding-right: 10px;
				    display: block;
				    position: relative;
				    top: -5px;
				    color: $m2m_green;
				}
			}
		}
	}
}

/*popup*/
.open-pop-up{
	cursor: pointer;
}
.popup{
	width: 100%;
	height: 100%;
	background: #1c2021;
	background: rgba(0,0,0,0.5);
	color: $light_gray;
	position: fixed;
    top: 0;
    z-index: 9999999;
    &__content{
		background: $bright_gray;
	    margin: 50px auto 0;
	    width: 750px;
	    height: 600px;
	    -webkit-animation: 0.5s fadeIn ease;
		-moz-animation: 0.5s fadeIn ease;
		animation: 0.5s fadeIn ease;
		&__header{
			background: $bright_gray;
	    	height: 40px;
			&__title{
				font-weight: bold;
	    		margin-left: 5px;
			}
		}
		&__close{
			position: relative;
		    bottom: 25px;
		    display: block;
		    left: 725px;
		    cursor: pointer;
		    -webkit-mask-image: url(../img/window-control.png);
		    background-color: $light_gray;
		    width: 11px;
		    height: 11px;
		    background-position: -22px 0;
		    &:hover{
				opacity: 0.7;
			}
		}
		&__scrollable{
			padding-left: 27px;
			max-height: 300px;
    		overflow-y: scroll;
		}
		&__label{
			padding-top: 5px;
    		display: inline-block;
		}
		&__informations{
			font-weight: bold;
			color: #fff;
			margin: 5px 0;
		}
	}
	&__tabs{
		background: $dark_gray;
		display: flex;
    	justify-content: space-around;
    	height: 50px;
	}
	&__tab{
		text-align: center;
		flex-grow: 1;
    	flex-basis: 0;
    	padding-top: 8px;
    	box-sizing: border-box;
    	border-bottom: 3px solid transparent;
    	border-right: 1px solid $gray;
    	cursor: pointer;
    	&__svg{
    		width: 21px;
		    height: 21px;
		    fill: rgba(255,255,255,0.7);
		    margin-right: -3px;
    	}
    	&__info-de-viagem{
			border-bottom-color: $m2m_green;
			padding-top: 15px;
			font-weight: bold;
			&:hover,
    		&.tab--active{
				background-color: $m2m_green;
				color: $dark_gray;
			}
    	}
    	&__bilhetes{
    		border-bottom-color: $pink;
    		&:hover,
    		&.tab--active{
				background-color: $pink;
				color: #fff;
    		}
    	}
    	&__jornada-de-trabalho{
			border-bottom-color: $red;
			&:hover,
    		&.tab--active{
				background-color: $red;
				color: #fff;
			}
    	}
    	&__detector-de-paradas{
			border-bottom-color: $orange;
			&:hover,
    		&.tab--active{
				background-color: $orange;
				color: #fff;
			}
    	}
	}
	&__scrollable{
		padding-right: 10px;
	    overflow-x: auto;
	    max-height: 100%;
	}
	&__pills{
		display: flex;
		padding-top: 10px;
		padding-left: 15px;
		&__pill{
		    margin: 0 5px;
    		padding: 0 10px;
		    border-radius: 5px;
		    color: #fff;
		    display: flex;
		    height: 40px;
		    align-items: center;
		}
		span:not(.text-size-24){
			padding-top: 12px;
		}
	}
	&__svg{
		width: 21px;
    	height: 21px;
	    margin-right: 3px;
	    fill: rgba(255,255,255,0.6);
	}
}

/*svg*/
.svg{
	&--average{
		width: 18px;
    	height: 18px;
	}
}

/*number-box*/
.number-box{
	color: $dark_gray;
	background-color: $light_gray;
	padding: 6px;
	&--larger{
		padding: 10px;
	    display: inline-block;
	    font-weight: 600;
	}
	&--square{
		padding: 6px 9px;
	}
}

/* units are texts that usually follow numbers to indicate what they are about: kms, minutes, hours, etc */
.unit{
	padding-top: 10px;
}

/* "atomic" */
.none{
	display: none !important
}


.opacity-animation{
	animation: opacity .5s;
}

/*atomic background colors*/
.green-bg{
	background-color: $green
}

.red-bg{
	background-color: $red
}

.pink-bg{
	background-color: $pink
}

.purple-bg{
	background-color: $purple
}

.blue-bg{
	background-color: $blue
}

.orange-bg{
	background-color: $orange
}
.dark-gray-bg{
	background-color: $dark_gray
}
.darker-gray-bg{
	background-color: $darker_gray
}
/*atomic colors*/
.purple{
	color: $purple;
}
.red{
	color: $red;
}
.green{
	color: $green
}
.m2m-green{
	color: $m2m_green
}
.light-gray{
	color: $light_gray;
}

/*atomic structure adjustments*/
.absolute-first-corner{
	position: absolute;
    top: 0;
    left: 0;
}
.no-margin{
	margin: 0;
}
.no-border{
	border: none !important;
}
.hidden{
	visibility: hidden;
}
.expanded{
	width: 100%;
	flex-basis: 100%;
}
.equidistant{ /*flex-items will be same width and same distance with this*/
	flex-basis: 0;
	flex-grow: 1;
}
.text-align-left{
	text-align: left;
}

/*atomic font adjustments*/
.text-size-10{
	font-size: 10px; //only one that uses px because it's only appliable in situations when the base-font (em/%) is not working, but can be changed if found a solution
}
.text-size-11{
	font-size: $base-font*1.1;
}
.text-size-13{
	font-size: $base-font*1.3;
}
.text-size-14{
	font-size: $base-font*1.4;
}
.text-size-16{
	font-size: $base-font*1.6;
}
.text-size-24{
	font-size: $base-font*2.4;
}
.text-size-56{
	font-size: $base-font*5.6;
}