<div class="filter">
    <div class="filter__header">
        <p class="filter__header__title">Filtro</p>
        <div class="toggle">
            <a href="#nav-toggle" data-id="nav-toggle-filter">
                <i class="fa fa-chevron-down"></i>
                <i class="fa fa-chevron-right"></i>
            </a>
        </div>
    </div>
    <div class="filter__content">
            <div class="filter__content__forms">
                <section class="form">
                    <label class="form__label">Motorista</label>
                    <div class="content-flex">
                        <input type="text" class="select" ng-model="ctrl.filtro.cpfMotorista" placeholder="Cpf do motorista" maxlength="11" />
                    </div>
                </section>

                <section class="form">
                    <label class="form__label">Veículo</label>
                    <div class="content-flex">
                        <input type="text" class="select" ng-model="ctrl.filtro.placaVeiculo" placeholder="Placa do veículo" maxlength="7" />
                    </div>
                </section>

                <section class="form">
                    <label class="form__label">Empresa</label>
                    <div class="content-flex">
                        <input type="text" class="select" ng-model="ctrl.filtro.cnpjCliente" placeholder="Cnpj da empresa" maxlength="14" />
                    </div>
                </section>

                <m2m-input-element icon="icons:date-range" id="dataInicial" content="De" subtype="less-padding" night onkeyup="formataData(this)" objeto-selecionado="{{dataInicio}}" is-date></m2m-input-element>

                <m2m-input-element icon="icons:date-range" id="dataFinal" content="Até" subtype="less-padding" night onkeyup="formataData(this)" objeto-selecionado="{{dataInicio}}" is-date></m2m-input-element>
                
            </div>

            <section class="filter__content__buttons">
                <button class="button button--cancel" ng-click="ctrl.limparFiltros()">LIMPAR</button>
                <button class="button button--confirm" ng-click="ctrl.consultarPeriodo()">CONSULTAR</button>
            </section>
        </div>
</div>
<script>
    /*Toggle do Filtro*/
     
    $(".toggle").click(function(){
        $(this).find(".fa-chevron-down").toggleClass("none");
        $(".filter-content").toggleClass("none");
    });
   
webshim.setOptions('forms-ext', {
    replaceUI: 'auto',
    types: 'date',
    date: {
        startView: 2,
        inlinePicker: true,
        classes: 'hide-inputbtns'
    }
});

//start polyfilling
webshim.polyfill('forms forms-ext');

</script>