<div class="popup flip-horizontal--container hidden">
    <div class="popup__content flip-horizontal">
        <header class="popup__content__header text-size-14">
            <span class="number-box number-box--larger">{{$index + 1}}</span>
            <span>Linha {{ctrl.infoViagemPopup.viagem.identificacaoLinha}}</span>
            <span class="popup__content__close"></span>
        </header>
        <div class="popup__tabs">

            <span class="popup__tab text-size-14 popup__tab__info-de-viagem tab--active">
                Info de Viagem
            </span>
            <span class="popup__tab text-size-24 popup__tab__bilhetes">
                <ng-include src="'views/icons/leitura-bilhetes-info-icon.html'"></ng-include>
                {{ctrl.infoViagemPopup.viagem.quantidadeDeBilhetes}}
            </span>
            <span class="popup__tab text-size-24 popup__tab__jornada-de-trabalho">
                <ng-include src="'views/icons/jornada-trabalho-info-icon.html'"></ng-include>
                {{ctrl.infoViagemPopup.obterDuracaoTotalDasJornadas()}}hs
            </span>
            <span class="popup__tab text-size-24 popup__tab__detector-de-paradas">
                <ng-include src="'views/icons/detector-parada-info-icon.html'"></ng-include>
                    {{ctrl.infoViagemPopup.viagem.quantidadeDeParadas}}
            </span>
        </div>

        <div class="tab__content info-de-viagem-js">
            <div class="popup__pills">
                <section class="popup__pills__pill green-bg">
                <ng-include src="'views/icons/km-percorrido-info-icon.html'"></ng-include>
                    <span class="text-size-24">{{ctrl.infoViagemPopup.formatarNumeroComDuasCasasDecimais(ctrl.infoViagemPopup.viagem.totalKm)}}</span><span> km</span>
                </section>
                <section class="popup__pills__pill blue-bg">
                    <ng-include src="'views/icons/tempo-viagem-info-icon.html'"></ng-include>
                    <span class="text-size-24">{{ctrl.infoViagemPopup.obterDuracaoDaViagem()}}</span><span> min</span>
                </section>
                <section class="popup__pills__pill purple-bg">
                    <ng-include src="'views/icons/direcao-continua-info-icon.html'"></ng-include>
                    <span class="text-size-24">{{ctrl.infoViagemPopup.viagem.direcaoContinuaMaxima}}</span><span> min</span>
                </section>
            </div>

            <div class="popup__content__scrollable">

                <br><span class="m2m-green">
                    INFORMAÇÕES BÁSICAS
                </span><br>
                <span class="popup__content__label text-size-13">Linha</span><br>
                <span class="popup__content__informations text-size-13">{{ctrl.infoViagemPopup.viagem.identificacaoLinha}}</span><br>

                <span class="popup__content__label text-size-13">Sentido</span><br>
                <span class="popup__content__informations text-size-13">{{ctrl.infoViagemPopup.viagem.sentidoLinha}}</span><br>

                <span class="popup__content__label text-size-13">Tipo</span><br>
                <span class="popup__content__informations text-size-13 purple">{{ctrl.infoViagemPopup.viagem.tipoViagem}}</span><br>

                <span class="popup__content__label text-size-13">IMEI</span><br>
                <span class="popup__content__informations text-size-13">{{ctrl.infoViagemPopup.viagem.imei}}</span><br>

                <span class="popup__content__label text-size-13">PDOP</span><br>
                <span class="popup__content__informations text-size-13">{{ctrl.infoViagemPopup.viagem.pdop}}</span><br>
                
                <br><span class="popup__content__label text-size-13">Veículos </span>
                <span class="m2m-green"><strong>({{ctrl.infoViagemPopup.viagem.quantidadeDeVeiculos}})</strong></span><br>
                
                <div class="row" ng-repeat="servico in ctrl.infoViagemPopup.viagem.servicos">
                    <span class="popup__content__informations text-size-13 equidistant">{{servico.placaVeiculo}}</span>
                    <span class="popup__content__informations text-size-13 equidistant font-weight-normal">{{ctrl.infoViagemPopup.formatarHorario(servico.horaInicio)}} - {{ctrl.infoViagemPopup.formatarHorario(servico.horaFim)}}</span>
                </div>

                <br><span class="popup__content__label text-size-13">Motoristas </span>
                <span class="m2m-green"><strong>({{ctrl.infoViagemPopup.viagem.quantidadeDeMotoristas}})</strong></span><br>
                
                <div class="row" ng-repeat="servico in ctrl.infoViagemPopup.viagem.servicos">
                    <span class="popup__content__informations text-size-13 equidistant">{{servico.cpfMotorista}}</span>
                    <span class="popup__content__informations text-size-13 equidistant font-weight-normal">{{ctrl.infoViagemPopup.formatarHorario(servico.horaInicio)}} - {{ctrl.infoViagemPopup.formatarHorario(servico.horaFim)}}</span>
                </div>

                <br><span class="m2m-green">
                    TEMPO
                </span><br>
                <div class="row">
                    <span class="popup__content__label text-size-13 equidistant">Data/Hora Inicial</span>
                    <span class="popup__content__label text-size-13 equidistant">Data/Hora Final</span>
                </div>
                <div class="row">
                    <span class="popup__content__informations text-size-13 equidistant">{{ctrl.infoViagemPopup.formatarDataHora(ctrl.infoViagemPopup.viagem.dataHoraInicial)}}</span>
                    <span class="popup__content__informations text-size-13 equidistant">{{ctrl.infoViagemPopup.formatarDataHora(ctrl.infoViagemPopup.viagem.dataHoraFinal)}}</span>
                </div>
                <span class="popup__content__label text-size-13 eq">Tempo de Viagem</span><br>
                <span class="popup__content__informations text-size-13">{{ctrl.infoViagemPopup.viagem.duracaoEmMinutos ? ctrl.infoViagemPopup.viagem.duracaoEmMinutos : ''}} min</span><br><br>

                <span class="m2m-green">
                    DISTÂNCIA
                </span><br>
                <div class="row">
                    <span class="popup__content__label text-size-13 equidistant">Km Percorrido</span>
                    <span class="popup__content__label text-size-13 equidistant">Velocidade Média</span>
                </div>
                <div class="row">
                    <span class="popup__content__informations text-size-13 equidistant">{{ctrl.infoViagemPopup.formatarNumero(ctrl.infoViagemPopup.viagem.totalKm)}} km</span>
                    <span class="popup__content__informations text-size-13 equidistant">{{ctrl.infoViagemPopup.viagem.velocidadeMedia ? ctrl.infoViagemPopup.viagem.velocidadeMedia : ''}} km</span>
                </div>
                <div class="row">
                    <span class="popup__content__label text-size-13 equidistant">Velocidade Máxima</span>
                    <span class="popup__content__label text-size-13 equidistant">Velocidade Mínima</span>
                </div>
                <div class="row">
                    <span class="popup__content__informations text-size-13 equidistant">{{ctrl.infoViagemPopup.viagem.velocidadeMaxima ? ctrl.infoViagemPopup.viagem.velocidadeMaxima : ''}} km</span>
                    <span class="popup__content__informations text-size-13 equidistant">{{ctrl.infoViagemPopup.viagem.velocidadeMinima ? ctrl.infoViagemPopup.viagem.velocidadeMinima : ''}} km</span>
                </div>
            </div>
            
            <ng-map zoom="4" center="{{ctrl.infoViagemPopup.viagem._localizacaoInicial}}" style="height:200px" scrollwheel="true" zoom-to-include-markers="false">
                <marker position="{{ctrl.infoViagemPopup.viagem._localizacaoInicial}}" title="{{ctrl.infoViagemPopup.viagem._enderecoLocalizacaoInicial}}"></marker>
                <marker position="{{ctrl.infoViagemPopup.viagem._localizacaoFinal}}" title="{{ctrl.infoViagemPopup.viagem._enderecoLocalizacaoFinal}}"></marker>
                <shape name="polyline" path='{{ctrl.infoViagemPopup.viagem.coordenadasPercurso}}' geodesic="true" stroke-color="#FF0000" stroke-opacity="1.0" stroke-weight="4"></shape>
            </ng-map>

        </div>

        <div class="tab__content popup__scrollable bilhetes-js none">
                    <div class="table--like thead--like">
                        <span class="td--like">N BILHETE</span>
                        <span class="td--like">VALOR</span>
                        <span class="td--like">DATA/HORA</span>
                    </div>

                    <div ng-repeat="bilhete in ctrl.infoViagemPopup.viagem.bilhetes">
                        <div class="bilhete-{{$index + 1}} table--like tbody--like table--toggle-control" ng-click='ctrl.infoViagemPopup.abrirDetalhesDoBilhete($index + 1,bilhete)'>
                            <span class="td--like">
                                <span class="number-box number-box--square">{{$index + 1}}</span>
                                {{bilhete.numeroDeEmbarque}}
                            </span>
                            <span class="td--like">{{bilhete.valorTarifaFormatadoComVirgula}}</span>
                            <span class="td--like">{{ctrl.infoViagemPopup.formatarDataHora(bilhete.dataHoraLeitura)}}</span>
                            <span class="td--like text-size-14 toggle-control">+</span>
                        </div>	

                        <table cellspacing="0" class="table table--tab toggle_table none">
                            <tr class="table__row darker-gray-bg light-gray">
                                <td width="100"></td>
                                <td>CÓD.DESC</td>
                                <td>% DESC</td>
                                <td>ORIG/DEST</td>
                                <td>CEL PASS</td>
                                <td>LAT/LONG</td>
                            </tr>
                            <tr class="table__row darker-gray-bg">
                                <td width="100"></td>
                                <td>{{bilhete.codigoDesconto}}</td>
                                <td>{{bilhete.percentualDesconto}}%</td>
                                <td>{{ctrl.infoViagemPopup.detalheViagem.descricaoDaLinha}}</td>
                                <td>{{bilhete.celularPassageiro}}</td>
                                <td><div ng-if="bilhete.longitude">{{bilhete.longitude}} / {{bilhete.latitude}}<br>{{bilhete.enderecoLeitura}}</div></td>
                            </tr>
                        </table>
                    </div>
                    
        </div><!-- fim div bilhetes-->

        <div class="tab__content popup__scrollable jornada-de-trabalho-js none">
            <table cellspacing="0" class="table table--tab">
                <thead >
                    <tr class="table__header__row">
                        <td>NOME</td>
                        <td>CPF</td>
                        <td>DATA INICIO</td>
                        <td>DATA FIM</td>
                        <td>LAT/LONG<br><span class="light-gray">Abertura</span></td>
                        <td>LAT/LONG<br><span class="light-gray">Fecham.</span></td>
                        <td>TEMPO<br><span class="light-gray">Jornada</span></td>
                        <td>TEMPO<br><span class="light-gray">Excedido</span></td>
                        <td>VEÍCULO</td>
                    </tr>
                </thead>
                <tbody>
                    <tr class="table__row darker-gray-bg table__row--large-td" ng-repeat="jornada in ctrl.infoViagemPopup.jornadas">
                        <td><span class="number-box absolute-first-corner">{{$index + 1}}</span>{{jornada.nomeMotorista}}</td>
                        <td>{{jornada.cpfMotorista}}</td>
                        <td>{{jornada.dataHoraInicial}}</td>
                        <td>{{jornada.dataHoraFinal}}</td>
                        <td>{{jornada.latitudeInicial}} / {{jornada.longitudeInicial}}<br>{{jornada.enderecoInicial}}</td>
                        <td><div ng-if="jornada.latitudeFinal">{{jornada.latitudeFinal}} / {{jornada.longitudeFinal}}<br>{{jornada.enderecoFinal}}</div></td>
                        <td>{{ctrl.infoViagemPopup.formatarDuracaoDaJornada(jornada)}} min</td>
                        <!-- classe red quando o tempo for excedido e classe green quando tempo for positivo -->
                        <td class="red"><span ng-if="jornada.tempoExcedido != 0">{{jornada.tempoExcedido}} min</span></td>
                        <td>{{jornada.placaVeiculo}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="tab__content popup__scrollable detector-de-paradas-js none">
            <table cellspacing="0" class="table table--tab"><!-- remember to insert scroll -->
                <thead>
                    <tr class="table__header__row">
                        <td>MOTIVO</td>
                        <td>HORA EVENT.</td>
                        <td>LAT/LONG</td>
                    </tr>
                </thead>
                <tbody>
                    <tr class="table__row dark-gray-bg" ng-repeat="parada in ctrl.infoViagemPopup.viagem.paradas">
                        <td class="table__larger-row">
                            <span class="number-box">{{$index + 1}}</span>
                            {{parada.motivo}}
                        </td>
                        <td>{{ctrl.infoViagemPopup.formatarDataHora(parada.dataHora)}}</td>
                        <td><div ng-if="parada.latitude">{{parada.latitude}} / {{parada.longitude}}</div></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    /*Controla visualização das guias dentro do popup*/
    $(".popup__tab__info-de-viagem").click(function(){
        $(".tab__content").addClass("none");
        $(".info-de-viagem-js").removeClass("none");
        $(".popup__tab").removeClass("tab--active");
        $(this).addClass("tab--active");
    });

    $(".popup__tab__bilhetes").click(function(){
        $(".tab__content").addClass("none");
        $(".bilhetes-js").removeClass("none");
        $(".popup__tab").removeClass("tab--active");
        $(this).addClass("tab--active");
    });

    $(".popup__tab__detector-de-paradas").click(function(){
        $(".tab__content").addClass("none");
        $(".detector-de-paradas-js").removeClass("none");
        $(".popup__tab").removeClass("tab--active");
        $(this).addClass("tab--active");
    });

    $(".popup__tab__jornada-de-trabalho").click(function(){
        $(".tab__content").addClass("none");
        $(".jornada-de-trabalho-js").removeClass("none");
        $(".popup__tab").removeClass("tab--active");
        $(this).addClass("tab--active");
    });

    /*controla toggle interno da tabela da segunda guia no popup*/
    $(".table--toggle-control").click(function(){
        $(this).next(".toggle_table").toggleClass("none");
    })


    /*fecha popup ao se clicar no X*/
    $(".popup__content__close").click(function(){
        $(".popup__content").removeClass("flip-horizontal--active");
         $(".popup").addClass("hidden");
    });

</script>