<div class="popup none">
    <div class="popup__content">
        <header class="popup__content__header text-size-14">
            <span class="number-box number-box--larger">{{$index + 1}}</span>
            <span>{{ctrl.infoViagemPopup.detalheViagem.descricaoDaLinha}}</span>
            <span class="popup__content__close"></span>
        </header>
        <div class="popup__tabs">

            <span class="popup__tab text-size-14 popup__tab__info-de-viagem tab--active">
                Info de Viagem
            </span>
            <span class="popup__tab text-size-24 popup__tab__bilhetes">
                <ng-include src="'views/icons/km-percorrido-info-icon.html'"></ng-include>
                {{ctrl.infoViagemPopup.detalheViagem.totalBilhetes}}
            </span>
            <span class="popup__tab text-size-24 popup__tab__jornada-de-trabalho">
                <ng-include src="'views/icons/jornada-trabalho-info-icon.html'"></ng-include>
                23hs
            </span>
            <span class="popup__tab text-size-24 popup__tab__detector-de-paradas">
                <ng-include src="'views/icons/detector-parada-info-icon.html'"></ng-include>
                    {{ctrl.infoViagemPopup.detalheViagem.totalParadas}}
            </span>
        </div>

        <div class="tab__content info-de-viagem-js">
            <div class="popup__pills">
                <section class="popup__pills__pill green-bg">
                <ng-include src="'views/icons/km-percorrido-info-icon.html'"></ng-include>
                    <span class="text-size-24">{{ctrl.infoViagemPopup.detalheViagem.totalKm | number:2}}</span><span> km</span>
                </section>
                <section class="popup__pills__pill blue-bg">
                    <ng-include src="'views/icons/tempo-viagem-info-icon.html'"></ng-include>
                    <span class="text-size-24">00:50:00</span>
                </section>
                <section class="popup__pills__pill purple-bg">
                    <ng-include src="'views/icons/direcao-continua-info-icon.html'"></ng-include>
                    <span class="text-size-24">{{ctrl.infoViagemPopup.detalheViagem.direcaoContinuaMaxima}} min</span>
                </section>
            </div>

            <div class="popup__content__scrollable">

                <br><span class="m2m-green">
                    INFORMAÇÕES BÁSICAS
                </span><br>
                <span class="popup__content__label text-size-13">Linha</span><br>
                <span class="popup__content__informations text-size-13">{{ctrl.infoViagemPopup.detalheViagem.identificacaoLinha}} - {{ctrl.infoViagemPopup.detalheViagem.descricaoDaLinha}} </span><br>

                <span class="popup__content__label text-size-13">Sentido</span><br>
                <span class="popup__content__informations text-size-13">{{ctrl.infoViagemPopup.detalheViagem.sentidoLinha}}</span><br>

                <span class="popup__content__label text-size-13">Tipo</span><br>
                <span class="popup__content__informations text-size-13 purple">{{ctrl.infoViagemPopup.detalheViagem.tipoViagem}}</span><br>

                <span class="popup__content__label text-size-13">IMEI</span><br>
                <span class="popup__content__informations text-size-13">{{ctrl.infoViagemPopup.detalheViagem.imei}}</span><br>

                <span class="popup__content__label text-size-13">PDOP</span><br>
                <span class="popup__content__informations text-size-13">{{ctrl.infoViagemPopup.detalheViagem.pdop}}</span><br>
                
                <br><span class="popup__content__label text-size-13">Veículos </span>
                <span class="m2m-green"><strong>({{ctrl.infoViagemPopup.detalheViagem.veiculos.length}})</strong></span><br>
                
                <div class="row" ng-repeat="veiculo in ctrl.infoViagemPopup.detalheViagem.veiculos">
                    <span class="popup__content__informations text-size-13 equidistant">{{veiculo}}</span>
                    <!--<span class="popup__content__informations text-size-13 equidistant font-weight-normal">09:00:57 - 09:15:17</span>-->
                </div>
                
                <br><span class="popup__content__label text-size-13">Motoristas </span>
                <span class="m2m-green"><strong>({{ctrl.infoViagemPopup.detalheViagem.motoristas.length}})</strong></span><br>
                
                <div class="row" ng-repeat="motorista in ctrl.infoViagemPopup.detalheViagem.motoristas">
                    <span class="popup__content__informations text-size-13 equidistant">{{motorista}}</span>
                    <!--<span class="popup__content__informations text-size-13 equidistant font-weight-normal">09:00:57 - 09:15:17</span>-->
                </div>

                <br><span class="m2m-green">
                    TEMPO
                </span><br>
                <div class="row">
                    <span class="popup__content__label text-size-13 equidistant">Data/Hora Inicial</span>
                    <span class="popup__content__label text-size-13 equidistant">Data/Hora Final</span>
                </div>
                <div class="row">
                    <span class="popup__content__informations text-size-13 equidistant">12/02/2017 - 09:00:57</span>
                    <span class="popup__content__informations text-size-13 equidistant">12/02/2017 - 09:50:57</span>
                </div>
                <span class="popup__content__label text-size-13 eq">Tempo de Viagem</span><br>
                <span class="popup__content__informations text-size-13">{{ctrl.infoViagemPopup.detalheViagem.duracao}} min</span><br><br>

                <span class="m2m-green">
                    DISTÂNCIA
                </span><br>
                <div class="row">
                    <span class="popup__content__label text-size-13 equidistant">Km Percorrido</span>
                    <span class="popup__content__label text-size-13 equidistant">Velocidade Média</span>
                </div>
                <div class="row">
                    <span class="popup__content__informations text-size-13 equidistant">{{ctrl.infoViagemPopup.detalheViagem.totalKm | number:2}} km</span>
                    <span class="popup__content__informations text-size-13 equidistant">{{ctrl.infoViagemPopup.velocidadeMedia | number:2}} km</span>
                </div>
                <div class="row">
                    <span class="popup__content__label text-size-13 equidistant">Velocidade Máxima</span>
                    <span class="popup__content__label text-size-13 equidistant">Velocidade Mínima</span>
                </div>
                <div class="row">
                    <span class="popup__content__informations text-size-13 equidistant">{{ctrl.infoViagemPopup.detalheViagem.velocidadeMaxima | number:2}} km</span>
                    <span class="popup__content__informations text-size-13 equidistant">{{ctrl.infoViagemPopup.detalheViagem.velocidadeMinima | number:2}} km</span>
                </div>
            </div>
        </div>

        <div class="tab__content popup__scrollable bilhetes-js none">
                    <div class="table--like thead--like">
                        <span class="td--like">N BILHETE</span>
                        <span class="td--like">VALOR</span>
                        <span class="td--like">DATA/HORA</span>
                    </div>

                    <div ng-repeat="bilhete in ctrl.infoViagemPopup.detalheViagem.bilhetes">
                        <div class="bilhete-{{$index + 1}} table--like tbody--like table--toggle-control" ng-click='ctrl.infoViagemPopup.abrirDetalhesDoBilhete($index + 1)'>
                            <span class="td--like">
                                <span class="number-box number-box--square">{{$index + 1}}</span>
                                {{bilhete.numeroBilheteEmbarque}}
                            </span>
                            <span class="td--like">{{bilhete.valorTarifa | number:2}}</span>
                            <span class="td--like">{{bilhete.dataHoraEvento}}</span>
                            <span class="td--like text-size-14 toggle-control">+</span>
                        </div>	

                        <table cellspacing="0" class="table table--tab toggle_table none">
                            <tr class="table__row darker-gray-bg light-gray">
                                <td width="100"></td>
                                <td>CÓD.DESC</td>
                                <td>% DESC</td>
                                <td>ORIG/DEST</td>
                                <td>CEL PASS</td>
                                <td>LAT/LONG</td>
                            </tr>
                            <tr class="table__row darker-gray-bg">
                                <td width="100"></td>
                                <td>{{bilhete.codigoDesconto}}</td>
                                <td>{{bilhete.percentualDesconto}}%</td>
                                <td>{{ctrl.infoViagemPopup.detalheViagem.descricaoDaLinha}}</td>
                                <td>{{bilhete.celularPassageiro}}</td>
                                <td>{{bilhete.coordenadasFormatadas}}<br> Av. Victor Civita, 77 - Barra, Rio de Janeiro - 0990-900</td>
                            </tr>
                        </table>
                    </div>
                    
        </div><!-- fim div bilhetes-->

        <div class="tab__content popup__scrollable jornada-de-trabalho-js none">
            <table cellspacing="0" class="table table--tab">
                <thead>
                    <tr class="table__header__row">
                        <td>NOME</td>
                        <td>CPF</td>
                        <td>DATA INICIO</td>
                        <td>DATA FIM</td>
                        <td>LAT/LONG<br><span class="light-gray">Abertura</span></td>
                        <td>LAT/LONG<br><span class="light-gray">Fecham.</span></td>
                        <td>TEMPO<br><span class="light-gray">Jornada</span></td>
                        <td>TEMPO<br><span class="light-gray">Excedido</span></td>
                        <td>VEÍCULO</td>
                    </tr>
                </thead>
                <tbody>
                    <tr class="table__row darker-gray-bg table__row--large-td">
                        <td><span class="number-box absolute-first-corner">1</span>Marcelo Campos</td>
                        <td>633599587-10</td>
                        <td>12/07/17 09:00:04</td>
                        <td>12/07/17 18:23:15</td>
                        <td>8985458545 / 896587458<br> Av. Victor Civita, 77 - Barra, Rio de Janeiro - 20900-200</td>
                        <td>8985458545 / 896587458<br> Av. Victor Civita, 77 - Barra, Rio de Janeiro - 20900-200</td>
                        <td>05:05:23</td>
                        <!-- classe red quando o tempo for excedido e classe green quando tempo for positivo -->
                        <td class="red">00:05:23</td>
                        <td>52000, 56980, 78800, 56900</td>
                    </tr>
                    <tr class="table__row darker-gray-bg table__row table__row--large-td">
                        <td><span class="number-box absolute-first-corner">2</span>Ricardo Souza</td>
                        <td>633598999-25</td>
                        <td>12/07/17 09:00:04</td>
                        <td>12/07/17 18:23:15</td>
                        <td>8985458545 / 896587458<br> Av. Victor Civita, 77 - Barra, Rio de Janeiro - 20900-200</td>
                        <td>8985458545 / 896587458<br> Av. Victor Civita, 77 - Barra, Rio de Janeiro - 20900-200</td>
                        <td>04:55:00</td>
                        <!-- classe red quando o tempo for excedido e classe green quando tempo for positivo -->
                        <td class="green">00:05:00</td>
                        <td>52000, 56980, 78800, 56900</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="tab__content popup__scrollable detector-de-paradas-js none">
            <table cellspacing="0" class="table table--tab"><!-- remember to insert scroll -->
                <thead>
                    <tr class="table__header__row">
                        <td>MOTIVO</td>
                        <td>HORA EVENT.</td>
                        <td>LAT/LONG</td>
                    </tr>
                </thead>
                <tbody>
                    <tr class="table__row dark-gray-bg" ng-repeat="parada in ctrl.infoViagemPopup.detalheViagem.paradas">
                        <td class="table__larger-row">
                            <span class="number-box">{{$index + 1}}</span>
                            {{parada.motivoParada}}
                        </td>
                        <td>{{parada.dataHora}}</td>
                        <td>{{parada.coordenadasFormatadas}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    /*Controla visualização das guias dentro do popup*/
    $(".popup__tab__info-de-viagem").click(function(){
        $(".tab__content").addClass("none");
        $(".info-de-viagem-js").removeClass("none");
        $(".popup__tab").removeClass("tab--active");
        $(this).addClass("tab--active");
    });

    $(".popup__tab__bilhetes").click(function(){
        $(".tab__content").addClass("none");
        $(".bilhetes-js").removeClass("none");
        $(".popup__tab").removeClass("tab--active");
        $(this).addClass("tab--active");
    });

    $(".popup__tab__detector-de-paradas").click(function(){
        $(".tab__content").addClass("none");
        $(".detector-de-paradas-js").removeClass("none");
        $(".popup__tab").removeClass("tab--active");
        $(this).addClass("tab--active");
    });

    $(".popup__tab__jornada-de-trabalho").click(function(){
        $(".tab__content").addClass("none");
        $(".jornada-de-trabalho-js").removeClass("none");
        $(".popup__tab").removeClass("tab--active");
        $(this).addClass("tab--active");
    });

    /*controla toggle interno da tabela da segunda guia no popup*/
    $(".table--toggle-control").click(function(){
        $(this).next(".toggle_table").toggleClass("none");
    })


    /*fecha popup ao se clicar no X*/
    $(".popup__content__close").click(function(){
        $(".popup").addClass("none");
    });

</script>