
<div class="main-chart">
    <div class="row row--space-between">
        <div>
            <h2 class="text-size-24">Visão Geral</h2>
        </div>
     <!--    <div>
            <button ng-click="ctrl.expandir()" class="expandir-js button button--row-search-and-export">
                <a name="focus-chart" id="focus-chart">EXPANDIR</a>
            </button>
        </div> -->
    </div>

    <highchart class="chart" id="container-geral" config="ctrl.graficoGeral.render"></highchart>

    <div class="row row--space-between">
        <div>
                <h2 class="text-size-24">Totalizadores</h2>
        </div>
        <div>
            <div class="dropdown">
                <!--<span class="dropdown__title">Visualização <i class="fa fa-caret-down"></i></span>-->
                <div class="dropdown__content hidden">
                    <p class="no-margin">
                        <input type="checkbox">
                        <label>Km Percorrido</label>
                    </p>
                    <p class="no-margin">
                        <input type="checkbox">
                        <label>Tempo de Viagem</label>
                    </p>
                    <p class="no-margin">
                        <input type="checkbox">
                        <label>Leitor de Bilhetes</label>
                    </p>
                    <p class="no-margin">
                        <input type="checkbox">
                        <label>Total de Viagens</label>
                    </p>
                    <p class="no-margin">
                        <input type="checkbox">
                        <label>Motivo de Paradas</label>
                    </p>
                    <p class="no-margin">
                        <input type="checkbox">
                        <label>Jornada de Trabalho</label>
                    </p>
                    <p class="no-margin">
                        <input type="checkbox">
                        <label>Troca de Motorista</label>
                    </p>
                </div>
            </div><!-- fim dropdown-->
        </div><!-- fim row__end-->
    </div><!-- fim row-->
</div><!-- fim main-chart -->

<div class="info-boxes">
    <div class="info-box">
        <div class="info-box__content info-box__content--green info-km-percorrido-js">

            <h5 class="info-box__content__title text-size-13">Km Percorrido</h5>
            <div class="row row--align-baseline">
                <ng-include src="'views/icons/km-percorrido-totalizador-icon.html'"></ng-include>
                <span class="info-box__content__span text-size-56">{{ctrl.kmPercorridoTotalizador.total}}</span><span class="light-gray text-size-16"> km</span>
            </div>
            <highchart class="info-box__chart" id="info-box-km-percorrido" config="ctrl.kmPercorridoTotalizador.grafico"></highchart>
        </div>
        <footer class="info-box__footer green-bg">
            <section ng-repeat="totalizador in ctrl.kmPercorridoTotalizador.totalizadoresPorData" class="column info-box__footer__column">
                <span class="semitransparent-text">{{totalizador.data}}</span>
                <span><span class="text-size-24">{{totalizador.totalKm}}</span>km</span>
            </section>
        </footer>
    </div><!-- fim info-box km percorrido-->

    <div class="info-box">
        <div class="info-box__content info-box__content--pink info-leitura-de-bilhetes-js">
            <h5 class="info-box__content__title text-size-13">Leitura de Bilhetes</h5>

            <div class="row row--align-baseline">
                <ng-include src="'views/icons/leitura-bilhetes-totalizador-icon.html'"></ng-include>
                <span class="info-box__content__span text-size-56">{{ctrl.leituraBilhetesTotalizador.total}}</span>
            </div>
            
            <!-- gráfico -->
            <div id="info-box-chartdiv2" class="info-box__chart">
                <highchart class="info-box__chart" id="info-box-km-percorrido" config="ctrl.leituraBilhetesTotalizador.grafico"></highchart>
            </div>
        </div>
        <footer class="info-box__footer pink-bg">
            <section ng-repeat="totalizador in ctrl.leituraBilhetesTotalizador.totalizadoresPorData" class="column info-box__footer__column">
                <span class="semitransparent-text">{{totalizador.data}}</span>
                <span class="text-size-24">{{totalizador.totalBilhetes}}</span>
            </section>
        </footer>
    </div><!-- fim info-box leitura de bilhetes-->

    <div class="info-box">
        <div class="info-box__content info-box__content--blue info-tempo-de-viagem-js">

            <h5 class="info-box__content__title text-size-13">Tempo de Viagem (média)</h5>
            <div class="row row--align-baseline">
                <ng-include src="'views/icons/tempo-viagem-totalizador-icon.html'"></ng-include>
                <span class="info-box__content__span text-size-56">{{ctrl.tempoViagemTotalizador.media}}</span><span class="light-gray text-size-16"> min</span>
            </div>
            <!-- gráfico -->
            <div id="info-box-chartdiv3" class="info-box__chart">
                <highchart class="info-box__chart" id="info-box-km-percorrido" config="ctrl.tempoViagemTotalizador.grafico"></highchart>
            </div>
        </div>
        <footer class="info-box__footer blue-bg">
            <section ng-repeat="totalizador in ctrl.tempoViagemTotalizador.totalizadoresPorData" class="column info-box__footer__column">
                <span class="semitransparent-text">{{totalizador.data}}</span>
                <span><span class="text-size-24">{{totalizador.mediaTempoViagem}}</span>min</span>
            </section>
        </footer>
    </div><!-- fim info-box tempo de viagem-->
</div><!-- fim 1st row of info-boxes-->

<div class="info-boxes">
    <div class="info-box">
        <div class="info-box__content info-box__content--purple info-direcao-continua-js">
            <select ng-model="ctrl.direcaoContinuaTotalizador.motoristaSelecionado" ng-options="data for data in ctrl.direcaoContinuaTotalizador.motoristas"
             class="info-box__select">
            </select>
            
            <h5 class="info-box__content__title text-size-13">Direção Contínua (maior)</h5>
            <div class="row row--align-baseline">
                <ng-include src="'views/icons/direcao-continua-totalizador-icon.html'"></ng-include>
                <span class="info-box__content__span text-size-56">{{ctrl.direcaoContinuaTotalizador.direcaoContinuaMaxima}}</span><span class="light-gray text-size-16"> min</span>
            </div>
            <!-- gráfico -->
            <div id="info-box-chartdiv4" class="info-box__chart">
                <highchart class="info-box__chart" id="info-box-km-percorrido" config="ctrl.direcaoContinuaTotalizador.grafico"></highchart>
            </div>
        </div>
        <footer class="info-box__footer purple-bg">
            <section ng-repeat="direcao in ctrl.direcaoContinuaTotalizador.direcoesContinuas" class="column info-box__footer__column">
                <span class="semitransparent-text">{{direcao.data}}</span>
                <span><span class="text-size-24">{{direcao.maxima}}</span>hs</span>
            </section>
        </footer>
    </div><!-- fim info-box direção contínua-->

    <div class="info-box">
        <div class="info-box__content info-box__content--red info-jornada-de-trabalho-js">
            <select ng-model="ctrl.jornadaTrabalhoTotalizador.motoristaSelecionado" ng-options="data for data in ctrl.jornadaTrabalhoTotalizador.motoristas"
             class="info-box__select">
            </select>
            
            <h5 class="info-box__content__title text-size-13">Jornada de Trabalho (maior)</h5>
            <div class="row row--align-baseline">
                <ng-include src="'views/icons/jornada-trabalho-totalizador-icon.html'"></ng-include>
                <span class="info-box__content__span text-size-56">{{ctrl.jornadaTrabalhoTotalizador.jornadaTrabalhoMaxima}}</span><span class="light-gray text-size-16">hora(s)</span>
            </div>

            <!-- gráfico -->
            <div id="info-box-chartdiv5" class="info-box__chart">
                <highchart class="info-box__chart" id="info-box-km-percorrido" config="ctrl.jornadaTrabalhoTotalizador.grafico"></highchart>
            </div>
        </div>
        <footer class="info-box__footer red-bg">
            <section ng-repeat="data in ctrl.jornadaTrabalhoTotalizador.jornadasTrabalho" class="column info-box__footer__column">
                <span class="semitransparent-text">{{data.data}}</span>
                <span class="text-size-24">{{data.maxima}}</span>
            </section>
        </footer>
    </div><!-- fim info-box jornada de trabalho-->

    <div class="info-box">
        <div class="info-box__content info-box__content--orange info-detector-de-paradas-js">
            <select ng-model="ctrl.paradasTotalizador.paradaSelecionada" ng-options="data for data in ctrl.paradasTotalizador.paradas"
             class="info-box__select">
            </select>

            <h5 class="info-box__content__title text-size-13">Detector de Paradas</h5>
            <div class="row row--align-baseline">
                <ng-include src="'views/icons/detector-parada-totalizador-icon.html'"></ng-include>
                <span class="info-box__content__span text-size-56">{{ctrl.paradasTotalizador.total}}</span>
            </div>

            <!-- gráfico -->
            <div id="info-box-chartdiv6" class="info-box__chart">
                <highchart class="info-box__chart" id="info-box-km-percorrido" config="ctrl.paradasTotalizador.grafico"></highchart>
            </div>
        </div>
        <footer class="info-box__footer orange-bg">
            <section ng-repeat="totalizador in ctrl.paradasTotalizador.totalPorData" class="column info-box__footer__column">
                <span class="semitransparent-text">{{totalizador.data}}</span>
                <span class="text-size-24">{{totalizador.total}}</span>
            </section>
        </footer>
    </div>
</div>


