<header class="sidebar__header row row--space-between">
    <h3 class="sidebar__header__title text-size-14">Extrato por dia</h3>
    <button class="button button--row-search-and-export reduzir-js">REDUZIR</button>
</header>

<div ng-repeat="dia in ctrl.painelViagens.viagens.dias">
    <h4 class="sidebar__day text-size-13">
        {{dia.data}}
        <span class="sidebar__day__toggle-control toggle-control-js">
            <i class="fa fa-minus"></i>
        </span>
    </h4>

    <div class="sidebar__content slide-from-right--active">
        <div class="row">
            <section class="sidebar__content__info green-bg">
                <ng-include src="'views/icons/km-percorrido-extrato-icon.html'"></ng-include>
                <span class="text-size-24">{{dia.totalizadores.totalQuilometragem}}</span><span class="unit"> km</span>
            </section>
            <section class="sidebar__content__info pink-bg">
                <ng-include src="'views/icons/leitura-bilhetes-extrato-icon.html'"></ng-include>
                <span class="text-size-24">{{dia.totalizadores.totalBilhetes}}</span>
            </section>
            <section class="sidebar__content__info blue-bg">
                <ng-include src="'views/icons/tempo-viagem-extrato-icon.html'"></ng-include>
                <span class="text-size-24">{{dia.totalizadores.totalTempo}}</span><span class="unit"> min</span>
            </section>
            <section class="sidebar__content__info purple-bg">
                <ng-include src="'views/icons/direcao-continua-extrato-icon.html'"></ng-include>
                <span class="text-size-24">{{dia.totalizadores.totalDirecao}}</span>
            </section>
            <section class="sidebar__content__info red-bg">
                <ng-include src="'views/icons/jornada-de-trabalho-extrato-icon.html'"></ng-include>
                <span class="text-size-24">{{dia.totalizadores.totalJornadas}}</span>
            </section>
            <section class="sidebar__content__info orange-bg">
                <ng-include src="'views/icons/detector-parada-extrato-icon.html'"></ng-include>
                <span class="text-size-24">{{dia.totalizadores.totalParadas}}</span>
            </section>
        </div>

        <table class="table" cellspacing="0">
            <thead class="table__header">
                <tr>
                    <td>LINHA</td>
                    <td>TIPO</td>
                    <td>KM</td>
                    <td>TEMPO</td>
                    <td>BILHET.</td>
                    <td>PARAD.</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="viagem in dia.viagens" class="table__row open-pop-up" ng-click="ctrl.consultarViagemPorId(viagem._id)">
                    <td class="table__larger-row">
                        <span class="number-box">{{$index + 1}}</span>
                        {{viagem.descricaoLinha}}
                    </td>

                    <td><span class="purple">{{viagem.tipoViagem}}</span></td>
                    <td>{{viagem.totalKm}}</td>
                    <td>{{viagem.totalTempo}}</td>
                    <td>{{viagem.totalBilhetes}}</td>
                    <td>{{viagem.totalParadas}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<script>
    // //fazer com este código o mesmo que foi feito com o popup
    // $(".toggle-control-js").click(function(){
    //     $(this).find(".sidebar__content").toggleClass("none");
    // });
    // //fim

    $(".reduzir-js").click(function(){
        $(".sidebar").addClass("none");
        $(".dropdown").toggleClass("dropdown--expanded-parent");
        $(".main-panel").toggleClass("expanded");
    });
</script>