<div class="filter" ng-include="'views/painel-viagem/includes/filtro.html'"></div>

<div class="row row--space-between row--search-and-export" data-ng-init="ctrl.postConstruct()">
    <div>
        <span class="search-information text-size-13" ng-show="ctrl.filtro.placaVeiculo || ctrl.filtro.cpfMotorista">
            {{ctrl.filtro.cpfMotorista}} | {{ctrl.filtro.placaVeiculo}} |<span ng-show="ctrl.filtro.cnpjCliente">{{ctrl.filtro.cnpjCliente}} | </span>
            <span ng-show="ctrl.filtro.dataInicial && ctrl.filtro.dataFinal"><i class="fa fa-calendar"></i> {{ctrl.filtroDeConsulta}}</span>
        </span>
    </div>
    <div class="row row--align-flex-end">
        <div class="layout-mode">
            <img class="layout-mode__image" src="img/moon.png">
            <span class="layout-mode__description">Modo Noite</span>
            <input class="switch" type="checkbox" checked='checked'/>
        </div>
        <div class="layout-mode">
            <button class="button button--row-search-and-export" ng-click="ctrl.habilitarTelaCheia()">
                <ng-include src="'views/icons/tela-cheia-icon.html'"></ng-include>
                TELA CHEIA
            </button>
        </div>
        <!--<div class="row row--buttons">
            <button class="button button--row-search-and-export"><i class="fa fa-file-excel-o"></i> CSV</button>
            <button class="button button--row-search-and-export"><i class="fa fa-file-excel-o"></i> PDF</button>
        </div>-->
    </div>
</div>

<div class="content-flex"><!-- will hold main panel and sidebar -->
    <div class="main-panel" ng-include="'views/painel-viagem/includes/main.html'"></div>
    <aside class="sidebar" ng-include="'views/painel-viagem/includes/extrato-por-dia.html'"></aside>
</div>

<div class="popup none" ng-include="'views/painel-viagem/includes/info-viagem-popup.html'"></div>